@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --primary-color: #42200b;
    --secondary-color: #ffc135;
    --tertiary-color: #df1c1c;
    --text-darker: #212529;
    --white: #ffff;
    --max-width: 1200px;
    --header-font-1: "Alfa Slab One", serif;
    --header-font-2: "Bebas Neue", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    text-align: center;
    line-height: 3.75rem;
    text-shadow: 2px 2px var(--secondary-color);
}

.section_description{
    font-weight: 500;
    color: var(--text-darker);
    line-height: 1.75rem;
}

.btn{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--tertiary-color);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary-color);
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-image: url("assets/header-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    width: 100%;
    margin-inline: auto;
    z-index: 1;
}

.nav_header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo img{
    max-width: 150px;
}

.nav_logo_dark{
    display: none;
}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links{
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav_links.open{
    transform: translateY(0);
}

.nav_links a{
    color: var(--white);
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
}

.nav_links a:hover{
    color: var(--secondary-color);
}

.header_container{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.header_image img{
    max-width: 600px;
    margin-inline: auto;
}

.header_content h2{
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    pad: 1rem 2rem;
    font-size: 1.72rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    border: 2px dashed var(--primary-color);
    text-align: center;
}

.header_content h1{
    font-size: 4.5rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    line-height: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px var(--white);
}

.header_content h1 span{
    font-size: 3rem;
}

.banner_container{
    display: grid;
    gap: 1;
    grid-auto-rows: 200px;
}

.banner_card{
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.banner_card:nth-child(1){
    background-image: url("assets/banner-1.png");
}

.banner_card:nth-child(2){
    background-image: url("assets/banner-2.png");
}

.banner_card:nth-child(3){
    background-image: url("assets/banner-3.png");
}

.banner_card p{
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

.banner_card h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
}

.order_container h3{
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--header-font-2);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.order_container .section_header{
    margin-bottom: 1rem;
}

.order_container .section_description{
    margin-bottom: 2rem;
    text-align: center;
}

.order_grid{
    display: grid;
    gap: 2rem 1rem;
}

.order_card{
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.3s;
}

.order_card:hover{
    box-shadow: 5px 5px 30px black;
}

.order_card img{
    max-width: 250px;
    margin-inline: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(10px 10px 30px rgb(0, 0, 0, 0.6));
}

.order_card h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-darker);
}

.order_card p{
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-darker);
    line-height: 1.75rem;
}

.event_content{
    display: grid;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.344);
}

.event_details{
    text-align: center;
}

.event_details h3{
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--header-font-2);
    color: var(--text-darker);
}

.event_details .section_header{
    margin-bottom: 1rem;
}

.footer{
    background-image: url("assets/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_logo img{
    max-width: 250px;
}

.footer_content{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.footer_content p{
    font-weight: 5500;
    color: var(--white);
    line-height: 1.75rem;
}

.footer_links{
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer_links li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    color: var(--white);
}

.footer_links li span{
    font-size: 1.25rem;
}

.footer_socials{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer_socials a{
    font-size: 1.5rem;
    color: var(--white);
}

.footer_socials a:hover{
    color: var(--secondary-color);
}

.footer_bar{
    padding: 1rem;
    color: var(--white);
    text-align: center;
    font-size: 0.9rem;
}

@media (width > 540px){
    .banner_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .banner_card:nth-child(1){
        grid-area: 1/1/2/3;
    }

    .order_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px){
    nav{
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav_header{
        padding: 0;
        background-color: transparent;
    }

    .nav_logo img{
        max-width: 250px;
    }

    .nav_logo_dark{
        display: flex;
    }

    .nav_logo_white{
        display: flex;
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links{
        position: static;
        pad: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        z-index: 1;
        transform: none;
    }

    .nav_links a{
        color: var(--primary-color);
    }

    .nav_links a:hover{
        color: var(--tertiary-color);
    }

    .header_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header_image{
        grid-area: 1/2/2/3;
    }

    .header_content h2{
        margin-inline-start: unset;
    }

    .header_content h1{
        text-align: left;
    }

    .banner_card{
        padding: 1.5rem;
        margin-left: 1rem;
    }

    .banner_card:nth-child(1){
        grid-area: 1/1/3/2;
    }

    .order_grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .event_content{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .event_image{
        grid-area: 1/2/2/3;
    }

    .event_details,
    .event_details .section_header{
        text-align: left;
    }

    .footer_content{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_links li{
        justify-content: flex-end;
    }

    .footer_socials{
        justify-content: flex-end;
    }
}

@media (width > 1024px) {
    .order_grid{
        gap: 2rem;
    }
}
